/*#########################################################
B-======= EAMC STAFF Start Plan - No SaaS ================
                 Appended Manually
#########################################################*/

/* B- Ilyes Hechmi - EAMC STAFF */
.jOKzvMcMxly3uMZrdx4S #sb_memberships,
.jOKzvMcMxly3uMZrdx4S #tb_clientportal,
.jOKzvMcMxly3uMZrdx4S #sb_automation,
.jOKzvMcMxly3uMZrdx4S #sb_location-mobile-app,
.jOKzvMcMxly3uMZrdx4S #sb_launchpad,
.jOKzvMcMxly3uMZrdx4S #sb_integrations,
.jOKzvMcMxly3uMZrdx4S #sb_my-business,
.jOKzvMcMxly3uMZrdx4S #sb_business-services,
.jOKzvMcMxly3uMZrdx4S #sb_business_info,
.jOKzvMcMxly3uMZrdx4S #sb_business_info,
.jOKzvMcMxly3uMZrdx4S #sb_calendars,
.jOKzvMcMxly3uMZrdx4S #sb_calendars,
.jOKzvMcMxly3uMZrdx4S #sb_conversation_ai_settings,
.jOKzvMcMxly3uMZrdx4S #sb_conversation_ai_settings,
.jOKzvMcMxly3uMZrdx4S #sb_location-email-services,
.jOKzvMcMxly3uMZrdx4S #sb_location-email-services,
.jOKzvMcMxly3uMZrdx4S #sb_phone-number,
.jOKzvMcMxly3uMZrdx4S #sb_phone-number,
.jOKzvMcMxly3uMZrdx4S #sb_whatsapp,
.jOKzvMcMxly3uMZrdx4S #sb_whatsapp,
.jOKzvMcMxly3uMZrdx4S #sb_url-redirects,
.jOKzvMcMxly3uMZrdx4S #sb_url-redirects,
.jOKzvMcMxly3uMZrdx4S #sb_conversations_providers,
.jOKzvMcMxly3uMZrdx4S #sb_conversations_providers,
.jOKzvMcMxly3uMZrdx4S #sb_other-settings,
.jOKzvMcMxly3uMZrdx4S #tb_wordpress-v2,
.jOKzvMcMxly3uMZrdx4S #dialer-error-toggle,
.jOKzvMcMxly3uMZrdx4S #dialer-error-toggle,
.jOKzvMcMxly3uMZrdx4S #tb_url-redirects,
.jOKzvMcMxly3uMZrdx4S #tb_url-redirects,
.jOKzvMcMxly3uMZrdx4S #tb_chat-widget,
.jOKzvMcMxly3uMZrdx4S #tb_chat-widget,
.jOKzvMcMxly3uMZrdx4S #tb_email-templates,
.jOKzvMcMxly3uMZrdx4S #tb_trigger-links,
.jOKzvMcMxly3uMZrdx4S #sb_custom-values,
.jOKzvMcMxly3uMZrdx4S #sb_custom-fields-settings,
.jOKzvMcMxly3uMZrdx4S #sb_conversations,
.jOKzvMcMxly3uMZrdx4S #recent_activities-toggle,
.jOKzvMcMxly3uMZrdx4S #tb_email-builder,
.jOKzvMcMxly3uMZrdx4S #recent_activities-toggle {
    display: none !important
}
/* E- Ilyes Hechmi */


/* B- Mouadh Tizaoui - EAMC STAFF */
.YRH4zqCX4UiGaGBk9DTs #sb_memberships,
.YRH4zqCX4UiGaGBk9DTs #tb_clientportal,
.YRH4zqCX4UiGaGBk9DTs #sb_automation,
.YRH4zqCX4UiGaGBk9DTs #sb_location-mobile-app,
.YRH4zqCX4UiGaGBk9DTs #sb_launchpad,
.YRH4zqCX4UiGaGBk9DTs #sb_integrations,
.YRH4zqCX4UiGaGBk9DTs #sb_my-business,
.YRH4zqCX4UiGaGBk9DTs #sb_business-services,
.YRH4zqCX4UiGaGBk9DTs #sb_business_info,
.YRH4zqCX4UiGaGBk9DTs #sb_business_info,
.YRH4zqCX4UiGaGBk9DTs #sb_calendars,
.YRH4zqCX4UiGaGBk9DTs #sb_calendars,
.YRH4zqCX4UiGaGBk9DTs #sb_conversation_ai_settings,
.YRH4zqCX4UiGaGBk9DTs #sb_conversation_ai_settings,
.YRH4zqCX4UiGaGBk9DTs #sb_location-email-services,
.YRH4zqCX4UiGaGBk9DTs #sb_location-email-services,
.YRH4zqCX4UiGaGBk9DTs #sb_phone-number,
.YRH4zqCX4UiGaGBk9DTs #sb_phone-number,
.YRH4zqCX4UiGaGBk9DTs #sb_whatsapp,
.YRH4zqCX4UiGaGBk9DTs #sb_whatsapp,
.YRH4zqCX4UiGaGBk9DTs #sb_url-redirects,
.YRH4zqCX4UiGaGBk9DTs #sb_url-redirects,
.YRH4zqCX4UiGaGBk9DTs #sb_conversations_providers,
.YRH4zqCX4UiGaGBk9DTs #sb_conversations_providers,
.YRH4zqCX4UiGaGBk9DTs #sb_other-settings,
.YRH4zqCX4UiGaGBk9DTs #tb_wordpress-v2,
.YRH4zqCX4UiGaGBk9DTs #dialer-error-toggle,
.YRH4zqCX4UiGaGBk9DTs #dialer-error-toggle,
.YRH4zqCX4UiGaGBk9DTs #tb_url-redirects,
.YRH4zqCX4UiGaGBk9DTs #tb_url-redirects,
.YRH4zqCX4UiGaGBk9DTs #tb_chat-widget,
.YRH4zqCX4UiGaGBk9DTs #tb_chat-widget,
.YRH4zqCX4UiGaGBk9DTs #tb_email-templates,
.YRH4zqCX4UiGaGBk9DTs #tb_trigger-links,
.YRH4zqCX4UiGaGBk9DTs #sb_custom-values,
.YRH4zqCX4UiGaGBk9DTs #sb_custom-fields-settings,
.YRH4zqCX4UiGaGBk9DTs #sb_conversations,
.YRH4zqCX4UiGaGBk9DTs #recent_activities-toggle,
.YRH4zqCX4UiGaGBk9DTs #tb_webinars,
.YRH4zqCX4UiGaGBk9DTs #tb_qr-codes,
.YRH4zqCX4UiGaGBk9DTs #tb_countdown-timer,
.YRH4zqCX4UiGaGBk9DTs #tb_brand-boards,
.YRH4zqCX4UiGaGBk9DTs #tb_email-builder,
.YRH4zqCX4UiGaGBk9DTs #sb_app-marketplace {
    display: none !important
}

/* E- Mouadh Tizaoui */

/*#########################################################
E-======= EAMC STAFF Achievers Plan - No SaaS ================
#########################################################*/

/*#########################################################
B-======= EAMC Student Achievers Plan - No SaaS =============
                 Appended Manually
#########################################################*/
/* B- Ameur Chaaban */
.Yf7oWnkZT8x22LV5PLyI #tb_business,
.Yf7oWnkZT8x22LV5PLyI #tb_contacts-restore,
.Yf7oWnkZT8x22LV5PLyI #tb_contact-custom-fields-settings,
.Yf7oWnkZT8x22LV5PLyI #tb_webinars,
.Yf7oWnkZT8x22LV5PLyI #tb_clientportal,
.Yf7oWnkZT8x22LV5PLyI #sb_app-marketplace,
.Yf7oWnkZT8x22LV5PLyI #b4de0261-f3d6-4166-b909-512d5b9bc645,
.Yf7oWnkZT8x22LV5PLyI #sb_Opportunities-Pipelines,
.Yf7oWnkZT8x22LV5PLyI #sb_objects,
.Yf7oWnkZT8x22LV5PLyI #sb_whatsapp,
.Yf7oWnkZT8x22LV5PLyI #sb_custom-values,
.Yf7oWnkZT8x22LV5PLyI #sb_ai_agent_settings,
.Yf7oWnkZT8x22LV5PLyI #sb_custom-fields-settings,
.Yf7oWnkZT8x22LV5PLyI #sb_knowledge_base_settings,
.Yf7oWnkZT8x22LV5PLyI #sb_conversations_providers,
.Yf7oWnkZT8x22LV5PLyI #sb_labs,
.Yf7oWnkZT8x22LV5PLyI #sb_audit-logs-location,
.Yf7oWnkZT8x22LV5PLyI #tb_ad-manager-home,
.Yf7oWnkZT8x22LV5PLyI #sb_business-settings-v2,
.Yf7oWnkZT8x22LV5PLyI #tb_audit-report,
.Yf7oWnkZT8x22LV5PLyI #documents-tab,
.Yf7oWnkZT8x22LV5PLyI #tb_proposals-estimates,
.Yf7oWnkZT8x22LV5PLyI #sb_knowledge-base-settings,
.Yf7oWnkZT8x22LV5PLyI #sb_phone-number,
.Yf7oWnkZT8x22LV5PLyI #sb_brand-boards,
.Yf7oWnkZT8x22LV5PLyI #tb_brand-boards,
.Yf7oWnkZT8x22LV5PLyI a#recent_activities-toggle,
.Yf7oWnkZT8x22LV5PLyI button[aria-label="Toggle Power Dialer"],
.Yf7oWnkZT8x22LV5PLyI span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.Yf7oWnkZT8x22LV5PLyI button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.Yf7oWnkZT8x22LV5PLyI #sb_AI\ Agents {
    display: none !important;
}

.Yf7oWnkZT8x22LV5PLyI #location_dashboard-btn-dashboard_switcher,
.Yf7oWnkZT8x22LV5PLyI #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* Ameur Chaaban */

/* B- Ryma Moussa */
.ILUJs5A5S0pzS2R7VEQn #tb_business,
.ILUJs5A5S0pzS2R7VEQn #tb_contacts-restore,
.ILUJs5A5S0pzS2R7VEQn #tb_contact-custom-fields-settings,
.ILUJs5A5S0pzS2R7VEQn #tb_webinars,
.ILUJs5A5S0pzS2R7VEQn #tb_clientportal,
.ILUJs5A5S0pzS2R7VEQn #sb_app-marketplace,
.ILUJs5A5S0pzS2R7VEQn #b4de0261-f3d6-4166-b909-512d5b9bc645,
.ILUJs5A5S0pzS2R7VEQn #sb_Opportunities-Pipelines,
.ILUJs5A5S0pzS2R7VEQn #sb_objects,
.ILUJs5A5S0pzS2R7VEQn #sb_whatsapp,
.ILUJs5A5S0pzS2R7VEQn #sb_custom-values,
.ILUJs5A5S0pzS2R7VEQn #sb_ai_agent_settings,
.ILUJs5A5S0pzS2R7VEQn #sb_custom-fields-settings,
.ILUJs5A5S0pzS2R7VEQn #sb_knowledge_base_settings,
.ILUJs5A5S0pzS2R7VEQn #sb_conversations_providers,
.ILUJs5A5S0pzS2R7VEQn #sb_labs,
.ILUJs5A5S0pzS2R7VEQn #sb_audit-logs-location,
.ILUJs5A5S0pzS2R7VEQn #sb_business-settings-v2,
.ILUJs5A5S0pzS2R7VEQn #tb_audit-report,
.ILUJs5A5S0pzS2R7VEQn #documents-tab,
.ILUJs5A5S0pzS2R7VEQn #tb_proposals-estimates,
.ILUJs5A5S0pzS2R7VEQn #sb_knowledge-base-settings,
.ILUJs5A5S0pzS2R7VEQn #sb_phone-number,
.ILUJs5A5S0pzS2R7VEQn #sb_brand-boards,
.ILUJs5A5S0pzS2R7VEQn #tb_brand-boards,
.ILUJs5A5S0pzS2R7VEQn a#recent_activities-toggle,
.ILUJs5A5S0pzS2R7VEQn button[aria-label="Toggle Power Dialer"],
.ILUJs5A5S0pzS2R7VEQn span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.ILUJs5A5S0pzS2R7VEQn button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.ILUJs5A5S0pzS2R7VEQn #sb_AI\ Agents {
    display: none !important;
}

.ILUJs5A5S0pzS2R7VEQn #location_dashboard-btn-dashboard_switcher,
.ILUJs5A5S0pzS2R7VEQn #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* Ryma Moussa */

/* B- Mohamed Chedly Bouderbala */
.TK9rNv4hbxZ25MtrF6IG #tb_business,
.TK9rNv4hbxZ25MtrF6IG #tb_contacts-restore,
.TK9rNv4hbxZ25MtrF6IG #tb_contact-custom-fields-settings,
.TK9rNv4hbxZ25MtrF6IG #tb_webinars,
.TK9rNv4hbxZ25MtrF6IG #tb_clientportal,
.TK9rNv4hbxZ25MtrF6IG #sb_app-marketplace,
.TK9rNv4hbxZ25MtrF6IG #b4de0261-f3d6-4166-b909-512d5b9bc645,
.TK9rNv4hbxZ25MtrF6IG #sb_Opportunities-Pipelines,
.TK9rNv4hbxZ25MtrF6IG #sb_objects,
.TK9rNv4hbxZ25MtrF6IG #sb_whatsapp,
.TK9rNv4hbxZ25MtrF6IG #sb_custom-values,
.TK9rNv4hbxZ25MtrF6IG #sb_ai_agent_settings,
.TK9rNv4hbxZ25MtrF6IG #sb_custom-fields-settings,
.TK9rNv4hbxZ25MtrF6IG #sb_knowledge_base_settings,
.TK9rNv4hbxZ25MtrF6IG #sb_conversations_providers,
.TK9rNv4hbxZ25MtrF6IG #sb_labs,
.TK9rNv4hbxZ25MtrF6IG #sb_audit-logs-location,
.TK9rNv4hbxZ25MtrF6IG #sb_business-settings-v2,
.TK9rNv4hbxZ25MtrF6IG #tb_audit-report,
.TK9rNv4hbxZ25MtrF6IG #documents-tab,
.TK9rNv4hbxZ25MtrF6IG #tb_proposals-estimates,
.TK9rNv4hbxZ25MtrF6IG #sb_knowledge-base-settings,
.TK9rNv4hbxZ25MtrF6IG #sb_phone-number,
.TK9rNv4hbxZ25MtrF6IG #sb_brand-boards,
.TK9rNv4hbxZ25MtrF6IG #tb_brand-boards,
.TK9rNv4hbxZ25MtrF6IG a#recent_activities-toggle,
.TK9rNv4hbxZ25MtrF6IG button[aria-label="Toggle Power Dialer"],
.TK9rNv4hbxZ25MtrF6IG span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.TK9rNv4hbxZ25MtrF6IG button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.TK9rNv4hbxZ25MtrF6IG #sb_AI\ Agents {
    display: none !important;
}

.TK9rNv4hbxZ25MtrF6IG #location_dashboard-btn-dashboard_switcher,
.TK9rNv4hbxZ25MtrF6IG #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* Mohamed Chedly Bouderbala */

/* B- Chine Nada */
.oFveQ4uQZtMFeo4aTETs #tb_business,
.oFveQ4uQZtMFeo4aTETs #tb_contacts-restore,
.oFveQ4uQZtMFeo4aTETs #tb_contact-custom-fields-settings,
.oFveQ4uQZtMFeo4aTETs #tb_webinars,
.oFveQ4uQZtMFeo4aTETs #tb_clientportal,
.oFveQ4uQZtMFeo4aTETs #sb_app-marketplace,
.oFveQ4uQZtMFeo4aTETs #b4de0261-f3d6-4166-b909-512d5b9bc645,
.oFveQ4uQZtMFeo4aTETs #sb_Opportunities-Pipelines,
.oFveQ4uQZtMFeo4aTETs #sb_objects,
.oFveQ4uQZtMFeo4aTETs #sb_whatsapp,
.oFveQ4uQZtMFeo4aTETs #sb_custom-values,
.oFveQ4uQZtMFeo4aTETs #sb_ai_agent_settings,
.oFveQ4uQZtMFeo4aTETs #sb_custom-fields-settings,
.oFveQ4uQZtMFeo4aTETs #sb_knowledge_base_settings,
.oFveQ4uQZtMFeo4aTETs #sb_conversations_providers,
.oFveQ4uQZtMFeo4aTETs #sb_labs,
.oFveQ4uQZtMFeo4aTETs #sb_audit-logs-location,
.oFveQ4uQZtMFeo4aTETs #sb_business-settings-v2,
.oFveQ4uQZtMFeo4aTETs #tb_audit-report,
.oFveQ4uQZtMFeo4aTETs #documents-tab,
.oFveQ4uQZtMFeo4aTETs #tb_proposals-estimates,
.oFveQ4uQZtMFeo4aTETs #sb_knowledge-base-settings,
.oFveQ4uQZtMFeo4aTETs #sb_phone-number,
.oFveQ4uQZtMFeo4aTETs #sb_brand-boards,
.oFveQ4uQZtMFeo4aTETs #tb_brand-boards,
.oFveQ4uQZtMFeo4aTETs a#recent_activities-toggle,
.oFveQ4uQZtMFeo4aTETs button[aria-label="Toggle Power Dialer"],
.oFveQ4uQZtMFeo4aTETs span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.oFveQ4uQZtMFeo4aTETs button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.oFveQ4uQZtMFeo4aTETs #sb_AI\ Agents {
    display: none !important;
}

.oFveQ4uQZtMFeo4aTETs #location_dashboard-btn-dashboard_switcher,
.oFveQ4uQZtMFeo4aTETs #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* Chine Nada */

/* B- Mohamed Oussema Khalifa */
.aZg2Dzij7qM7rti3oXH1 #tb_business,
.aZg2Dzij7qM7rti3oXH1 #tb_contacts-restore,
.aZg2Dzij7qM7rti3oXH1 #tb_contact-custom-fields-settings,
.aZg2Dzij7qM7rti3oXH1 #tb_webinars,
.aZg2Dzij7qM7rti3oXH1 #tb_clientportal,
.aZg2Dzij7qM7rti3oXH1 #sb_app-marketplace,
.aZg2Dzij7qM7rti3oXH1 #b4de0261-f3d6-4166-b909-512d5b9bc645,
.aZg2Dzij7qM7rti3oXH1 #sb_Opportunities-Pipelines,
.aZg2Dzij7qM7rti3oXH1 #sb_objects,
.aZg2Dzij7qM7rti3oXH1 #sb_whatsapp,
.aZg2Dzij7qM7rti3oXH1 #sb_custom-values,
.aZg2Dzij7qM7rti3oXH1 #sb_ai_agent_settings,
.aZg2Dzij7qM7rti3oXH1 #sb_custom-fields-settings,
.aZg2Dzij7qM7rti3oXH1 #sb_knowledge_base_settings,
.aZg2Dzij7qM7rti3oXH1 #sb_conversations_providers,
.aZg2Dzij7qM7rti3oXH1 #sb_labs,
.aZg2Dzij7qM7rti3oXH1 #sb_audit-logs-location,
.aZg2Dzij7qM7rti3oXH1 #sb_business-settings-v2,
.aZg2Dzij7qM7rti3oXH1 #tb_audit-report,
.aZg2Dzij7qM7rti3oXH1 #documents-tab,
.aZg2Dzij7qM7rti3oXH1 #tb_proposals-estimates,
.aZg2Dzij7qM7rti3oXH1 #sb_knowledge-base-settings,
.aZg2Dzij7qM7rti3oXH1 #sb_phone-number,
.aZg2Dzij7qM7rti3oXH1 #sb_brand-boards,
.aZg2Dzij7qM7rti3oXH1 #tb_brand-boards,
.aZg2Dzij7qM7rti3oXH1 a#recent_activities-toggle,
.aZg2Dzij7qM7rti3oXH1 button[aria-label="Toggle Power Dialer"],
.aZg2Dzij7qM7rti3oXH1 span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.aZg2Dzij7qM7rti3oXH1 button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.aZg2Dzij7qM7rti3oXH1 #sb_AI\ Agents {
    display: none !important;
}

.aZg2Dzij7qM7rti3oXH1 #location_dashboard-btn-dashboard_switcher,
.aZg2Dzij7qM7rti3oXH1 #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* Mohamed Oussema Khalifa */

/* B- Thameur Bensalem */
.j64i3IPdk8RY18cdKJBE #tb_business,
.j64i3IPdk8RY18cdKJBE #tb_contacts-restore,
.j64i3IPdk8RY18cdKJBE #tb_contact-custom-fields-settings,
.j64i3IPdk8RY18cdKJBE #tb_webinars,
.j64i3IPdk8RY18cdKJBE #tb_clientportal,
.j64i3IPdk8RY18cdKJBE #sb_app-marketplace,
.j64i3IPdk8RY18cdKJBE #b4de0261-f3d6-4166-b909-512d5b9bc645,
.j64i3IPdk8RY18cdKJBE #sb_Opportunities-Pipelines,
.j64i3IPdk8RY18cdKJBE #sb_objects,
.j64i3IPdk8RY18cdKJBE #sb_whatsapp,
.j64i3IPdk8RY18cdKJBE #sb_custom-values,
.j64i3IPdk8RY18cdKJBE #sb_ai_agent_settings,
.j64i3IPdk8RY18cdKJBE #sb_custom-fields-settings,
.j64i3IPdk8RY18cdKJBE #sb_knowledge_base_settings,
.j64i3IPdk8RY18cdKJBE #sb_conversations_providers,
.j64i3IPdk8RY18cdKJBE #sb_labs,
.j64i3IPdk8RY18cdKJBE #sb_audit-logs-location,
.j64i3IPdk8RY18cdKJBE #tb_ad-manager-home,
.j64i3IPdk8RY18cdKJBE #sb_business-settings-v2,
.j64i3IPdk8RY18cdKJBE #tb_audit-report,
.j64i3IPdk8RY18cdKJBE #documents-tab,
.j64i3IPdk8RY18cdKJBE #tb_proposals-estimates,
.j64i3IPdk8RY18cdKJBE #sb_knowledge-base-settings,
.j64i3IPdk8RY18cdKJBE #sb_phone-number,
.j64i3IPdk8RY18cdKJBE #sb_brand-boards,
.j64i3IPdk8RY18cdKJBE #tb_brand-boards,
.j64i3IPdk8RY18cdKJBE a#recent_activities-toggle,
.j64i3IPdk8RY18cdKJBE button[aria-label="Toggle Power Dialer"],
.j64i3IPdk8RY18cdKJBE span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.j64i3IPdk8RY18cdKJBE button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.j64i3IPdk8RY18cdKJBE #sb_AI\ Agents {
    display: none !important;
}

.j64i3IPdk8RY18cdKJBE #location_dashboard-btn-dashboard_switcher,
.j64i3IPdk8RY18cdKJBE #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* Thameur Bensalem */

/* B- Mohamed Amine Hassine */
.TThIuP9xUMOBpV88XIQq #tb_business,
.TThIuP9xUMOBpV88XIQq #tb_contacts-restore,
.TThIuP9xUMOBpV88XIQq #tb_contact-custom-fields-settings,
.TThIuP9xUMOBpV88XIQq #tb_webinars,
.TThIuP9xUMOBpV88XIQq #tb_clientportal,
.TThIuP9xUMOBpV88XIQq #sb_app-marketplace,
.TThIuP9xUMOBpV88XIQq #b4de0261-f3d6-4166-b909-512d5b9bc645,
.TThIuP9xUMOBpV88XIQq #sb_Opportunities-Pipelines,
.TThIuP9xUMOBpV88XIQq #sb_objects,
.TThIuP9xUMOBpV88XIQq #sb_whatsapp,
.TThIuP9xUMOBpV88XIQq #sb_custom-values,
.TThIuP9xUMOBpV88XIQq #sb_ai_agent_settings,
.TThIuP9xUMOBpV88XIQq #sb_custom-fields-settings,
.TThIuP9xUMOBpV88XIQq #sb_knowledge_base_settings,
.TThIuP9xUMOBpV88XIQq #sb_conversations_providers,
.TThIuP9xUMOBpV88XIQq #sb_labs,
.TThIuP9xUMOBpV88XIQq #sb_audit-logs-location,
.TThIuP9xUMOBpV88XIQq #tb_ad-manager-home,
.TThIuP9xUMOBpV88XIQq #sb_business-settings-v2,
.TThIuP9xUMOBpV88XIQq #tb_audit-report,
.TThIuP9xUMOBpV88XIQq #documents-tab,
.TThIuP9xUMOBpV88XIQq #tb_proposals-estimates,
.TThIuP9xUMOBpV88XIQq #sb_knowledge-base-settings,
.TThIuP9xUMOBpV88XIQq #sb_phone-number,
.TThIuP9xUMOBpV88XIQq #sb_brand-boards,
.TThIuP9xUMOBpV88XIQq #tb_brand-boards,
.TThIuP9xUMOBpV88XIQq a#recent_activities-toggle,
.TThIuP9xUMOBpV88XIQq button[aria-label="Toggle Power Dialer"],
.TThIuP9xUMOBpV88XIQq span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.TThIuP9xUMOBpV88XIQq button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.TThIuP9xUMOBpV88XIQq #sb_AI\ Agents {
    display: none !important;
}

.TThIuP9xUMOBpV88XIQq #location_dashboard-btn-dashboard_switcher,
.TThIuP9xUMOBpV88XIQq #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* Mohamed Amine Hassine */