/*#########################################################
  =================== SaaS Freemium Plan Clients ================
  #########################################################*/
/* B- Freemium Test Account */

.snoMymRuxp18mlUIGZ5V p.w-full.text-left.border-b.border-solid.my-3,
.snoMymRuxp18mlUIGZ5V #sb_conversations,
.snoMymRuxp18mlUIGZ5V #sb_ai_agent_settings,
.snoMymRuxp18mlUIGZ5V #sb_AI\ Agents,
.snoMymRuxp18mlUIGZ5V #sb_audit-logs-location,
.snoMymRuxp18mlUIGZ5V #sb_saas-billing,
.snoMymRuxp18mlUIGZ5V #sb_conversation_ai_settings_v2,
.snoMymRuxp18mlUIGZ5V #sb_whatsapp,
.snoMymRuxp18mlUIGZ5V #sb_phone-number,
.snoMymRuxp18mlUIGZ5V #sb_knowledge_base_settings,
.snoMymRuxp18mlUIGZ5V #sb_location-email-services,
.snoMymRuxp18mlUIGZ5V #sb_labs,
.snoMymRuxp18mlUIGZ5V #sb_url-redirects,
.snoMymRuxp18mlUIGZ5V #sb_conversations_providers,
.snoMymRuxp18mlUIGZ5V #sb_app-marketplace,
.snoMymRuxp18mlUIGZ5V #sb_Opportunities-Pipelines,
.snoMymRuxp18mlUIGZ5V #tb_analytics,
.snoMymRuxp18mlUIGZ5V #tb_webinars,
.snoMymRuxp18mlUIGZ5V #tb_stores,
.snoMymRuxp18mlUIGZ5V a#recent_activities-toggle,
.snoMymRuxp18mlUIGZ5V button[aria-label="Toggle Power Dialer"],
.snoMymRuxp18mlUIGZ5V ul.flex>li:nth-child(2),
.snoMymRuxp18mlUIGZ5V #b4de0261-f3d6-4166-b909-512d5b9bc645 {
    display: none !important;
}

.snoMymRuxp18mlUIGZ5V #location_dashboard-btn-dashboard_switcher,
.snoMymRuxp18mlUIGZ5V #location-dashboard_btn--edit-dashboard,
.snoMymRuxp18mlUIGZ5V .p-2.cursor-pointer {
    pointer-events: none !important;
}

/* E- Freemium Test Account */

/*#######################################################
  =============== SaaS Starter Plan Clients =============
  #######################################################*/
/* B- Starter Test Account */
.QOWqa6U5tHgHEqiQQbfn #tb_pipeline,
.QOWqa6U5tHgHEqiQQbfn #sb_Opportunities-Pipelines,
.QOWqa6U5tHgHEqiQQbfn #tb_Opportunities,
.QOWqa6U5tHgHEqiQQbfn #tb_bulk-actions,
.QOWqa6U5tHgHEqiQQbfn #tb_contacts-restore,
.QOWqa6U5tHgHEqiQQbfn #tb_tasks,
.QOWqa6U5tHgHEqiQQbfn #tb_business,
.QOWqa6U5tHgHEqiQQbfn #tb_contacts-settings-top,
.QOWqa6U5tHgHEqiQQbfn #tb_contact-custom-fields-settings,
.QOWqa6U5tHgHEqiQQbfn #tb_analytics,
.QOWqa6U5tHgHEqiQQbfn #tb_webinars,
.QOWqa6U5tHgHEqiQQbfn #sb_objects,
.QOWqa6U5tHgHEqiQQbfn #sb_custom-values,
.QOWqa6U5tHgHEqiQQbfn #sb_tags,
.QOWqa6U5tHgHEqiQQbfn #sb_business-settings-v2,
.QOWqa6U5tHgHEqiQQbfn #sb_custom-fields-settings,
.QOWqa6U5tHgHEqiQQbfn #sb_launchpad,
.QOWqa6U5tHgHEqiQQbfn #sb_ai_agent_settings,
.QOWqa6U5tHgHEqiQQbfn #sb_AI\ Agents,
.QOWqa6U5tHgHEqiQQbfn #sb_audit-logs-location,
.QOWqa6U5tHgHEqiQQbfn #sb_saas-billing,
.QOWqa6U5tHgHEqiQQbfn #sb_conversation_ai_settings_v2,
.QOWqa6U5tHgHEqiQQbfn #sb_whatsapp,
.QOWqa6U5tHgHEqiQQbfn #sb_phone-number,
.QOWqa6U5tHgHEqiQQbfn #sb_knowledge_base_settings,
.QOWqa6U5tHgHEqiQQbfn #sb_location-email-services,
.QOWqa6U5tHgHEqiQQbfn #sb_labs,
.QOWqa6U5tHgHEqiQQbfn #sb_url-redirects,
.QOWqa6U5tHgHEqiQQbfn #sb_conversations_providers,
.QOWqa6U5tHgHEqiQQbfn #sb_app-marketplace,
.QOWqa6U5tHgHEqiQQbfn #b4de0261-f3d6-4166-b909-512d5b9bc645,
.QOWqa6U5tHgHEqiQQbfn a#recent_activities-toggle,
.QOWqa6U5tHgHEqiQQbfn button[aria-label="Toggle Power Dialer"],
.QOWqa6U5tHgHEqiQQbfn span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.QOWqa6U5tHgHEqiQQbfn ul.flex>li:nth-child(2) {
    display: none !important;
}
/* E- Starter Test Account */

/* B- Kareem fezani */
.\38 0g6V6gZqdEC7An9yDvt #tb_pipeline,
.\38 0g6V6gZqdEC7An9yDvt #sb_Opportunities-Pipelines,
.\38 0g6V6gZqdEC7An9yDvt #tb_Opportunities,
.\38 0g6V6gZqdEC7An9yDvt #tb_bulk-actions,
.\38 0g6V6gZqdEC7An9yDvt #tb_contacts-restore,
.\38 0g6V6gZqdEC7An9yDvt #tb_tasks,
.\38 0g6V6gZqdEC7An9yDvt #tb_business,
.\38 0g6V6gZqdEC7An9yDvt #tb_contacts-settings-top,
.\38 0g6V6gZqdEC7An9yDvt #tb_contact-custom-fields-settings,
.\38 0g6V6gZqdEC7An9yDvt #tb_analytics,
.\38 0g6V6gZqdEC7An9yDvt #tb_webinars,
.\38 0g6V6gZqdEC7An9yDvt #sb_objects,
.\38 0g6V6gZqdEC7An9yDvt #sb_custom-values,
.\38 0g6V6gZqdEC7An9yDvt #sb_tags,
.\38 0g6V6gZqdEC7An9yDvt #sb_business-settings-v2,
.\38 0g6V6gZqdEC7An9yDvt #sb_custom-fields-settings,
.\38 0g6V6gZqdEC7An9yDvt #sb_launchpad,
.\38 0g6V6gZqdEC7An9yDvt #sb_ai_agent_settings,
.\38 0g6V6gZqdEC7An9yDvt #sb_AI\ Agents,
.\38 0g6V6gZqdEC7An9yDvt #sb_audit-logs-location,
.\38 0g6V6gZqdEC7An9yDvt #sb_saas-billing,
.\38 0g6V6gZqdEC7An9yDvt #sb_conversation_ai_settings_v2,
.\38 0g6V6gZqdEC7An9yDvt #sb_whatsapp,
.\38 0g6V6gZqdEC7An9yDvt #sb_phone-number,
.\38 0g6V6gZqdEC7An9yDvt #sb_knowledge_base_settings,
.\38 0g6V6gZqdEC7An9yDvt #sb_location-email-services,
.\38 0g6V6gZqdEC7An9yDvt #sb_labs,
.\38 0g6V6gZqdEC7An9yDvt #sb_url-redirects,
.\38 0g6V6gZqdEC7An9yDvt #sb_conversations_providers,
.\38 0g6V6gZqdEC7An9yDvt #sb_app-marketplace,
.\38 0g6V6gZqdEC7An9yDvt #b4de0261-f3d6-4166-b909-512d5b9bc645,
.\38 0g6V6gZqdEC7An9yDvt a#recent_activities-toggle,
.\38 0g6V6gZqdEC7An9yDvt button[aria-label="Toggle Power Dialer"],
.\38 0g6V6gZqdEC7An9yDvt span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.\38 0g6V6gZqdEC7An9yDvt ul.flex>li:nth-child(2) {
    display: none !important;
}

.\38 0g6V6gZqdEC7An9yDvt #location_dashboard-btn-dashboard_switcher,
.\38 0g6V6gZqdEC7An9yDvt #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* E- Kareem fezani */


/* B- Haroun Radwani */
.Ld9UVvd5R3oBDzQmTPEG #tb_pipeline,
.Ld9UVvd5R3oBDzQmTPEG #sb_Opportunities-Pipelines,
.Ld9UVvd5R3oBDzQmTPEG #tb_Opportunities,
.Ld9UVvd5R3oBDzQmTPEG #tb_bulk-actions,
.Ld9UVvd5R3oBDzQmTPEG #tb_contacts-restore,
.Ld9UVvd5R3oBDzQmTPEG #tb_tasks,
.Ld9UVvd5R3oBDzQmTPEG #tb_business,
.Ld9UVvd5R3oBDzQmTPEG #tb_contacts-settings-top,
.Ld9UVvd5R3oBDzQmTPEG #tb_contact-custom-fields-settings,
.Ld9UVvd5R3oBDzQmTPEG #tb_analytics,
.Ld9UVvd5R3oBDzQmTPEG #tb_webinars,
.Ld9UVvd5R3oBDzQmTPEG #sb_objects,
.Ld9UVvd5R3oBDzQmTPEG #sb_custom-values,
.Ld9UVvd5R3oBDzQmTPEG #sb_tags,
.Ld9UVvd5R3oBDzQmTPEG #sb_business-settings-v2,
.Ld9UVvd5R3oBDzQmTPEG #sb_custom-fields-settings,
.Ld9UVvd5R3oBDzQmTPEG #sb_launchpad,
.Ld9UVvd5R3oBDzQmTPEG #sb_ai_agent_settings,
.Ld9UVvd5R3oBDzQmTPEG #sb_AI\ Agents,
.Ld9UVvd5R3oBDzQmTPEG #sb_audit-logs-location,
.Ld9UVvd5R3oBDzQmTPEG #sb_saas-billing,
.Ld9UVvd5R3oBDzQmTPEG #sb_conversation_ai_settings_v2,
.Ld9UVvd5R3oBDzQmTPEG #sb_whatsapp,
.Ld9UVvd5R3oBDzQmTPEG #sb_phone-number,
.Ld9UVvd5R3oBDzQmTPEG #sb_knowledge_base_settings,
.Ld9UVvd5R3oBDzQmTPEG #sb_location-email-services,
.Ld9UVvd5R3oBDzQmTPEG #sb_labs,
.Ld9UVvd5R3oBDzQmTPEG #sb_url-redirects,
.Ld9UVvd5R3oBDzQmTPEG #sb_conversations_providers,
.Ld9UVvd5R3oBDzQmTPEG #sb_app-marketplace,
.Ld9UVvd5R3oBDzQmTPEG #b4de0261-f3d6-4166-b909-512d5b9bc645,
.Ld9UVvd5R3oBDzQmTPEG a#recent_activities-toggle,
.Ld9UVvd5R3oBDzQmTPEG button[aria-label="Toggle Power Dialer"],
.Ld9UVvd5R3oBDzQmTPEG span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.Ld9UVvd5R3oBDzQmTPEG ul.flex>li:nth-child(2) {
    display: none !important;
}

.Ld9UVvd5R3oBDzQmTPEG #location_dashboard-btn-dashboard_switcher,
.Ld9UVvd5R3oBDzQmTPEG #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* E- Haroun Radwani */


/* B- Abdellatif Chammam */
.OZTKy3TDoIfIqTb4Vbg6 #tb_pipeline,
.OZTKy3TDoIfIqTb4Vbg6 #sb_Opportunities-Pipelines,
.OZTKy3TDoIfIqTb4Vbg6 #tb_Opportunities,
.OZTKy3TDoIfIqTb4Vbg6 #tb_bulk-actions,
.OZTKy3TDoIfIqTb4Vbg6 #tb_contacts-restore,
.OZTKy3TDoIfIqTb4Vbg6 #tb_tasks,
.OZTKy3TDoIfIqTb4Vbg6 #tb_business,
.OZTKy3TDoIfIqTb4Vbg6 #tb_contacts-settings-top,
.OZTKy3TDoIfIqTb4Vbg6 #tb_contact-custom-fields-settings,
.OZTKy3TDoIfIqTb4Vbg6 #tb_analytics,
.OZTKy3TDoIfIqTb4Vbg6 #tb_webinars,
.OZTKy3TDoIfIqTb4Vbg6 #sb_objects,
.OZTKy3TDoIfIqTb4Vbg6 #sb_custom-values,
.OZTKy3TDoIfIqTb4Vbg6 #sb_tags,
.OZTKy3TDoIfIqTb4Vbg6 #sb_business-settings-v2,
.OZTKy3TDoIfIqTb4Vbg6 #sb_custom-fields-settings,
.OZTKy3TDoIfIqTb4Vbg6 #sb_launchpad,
.OZTKy3TDoIfIqTb4Vbg6 #sb_ai_agent_settings,
.OZTKy3TDoIfIqTb4Vbg6 #sb_AI\ Agents,
.OZTKy3TDoIfIqTb4Vbg6 #sb_audit-logs-location,
.OZTKy3TDoIfIqTb4Vbg6 #sb_saas-billing,
.OZTKy3TDoIfIqTb4Vbg6 #sb_conversation_ai_settings_v2,
.OZTKy3TDoIfIqTb4Vbg6 #sb_whatsapp,
.OZTKy3TDoIfIqTb4Vbg6 #sb_phone-number,
.OZTKy3TDoIfIqTb4Vbg6 #sb_knowledge_base_settings,
.OZTKy3TDoIfIqTb4Vbg6 #sb_location-email-services,
.OZTKy3TDoIfIqTb4Vbg6 #sb_labs,
.OZTKy3TDoIfIqTb4Vbg6 #sb_url-redirects,
.OZTKy3TDoIfIqTb4Vbg6 #sb_conversations_providers,
.OZTKy3TDoIfIqTb4Vbg6 #sb_app-marketplace,
.OZTKy3TDoIfIqTb4Vbg6 #b4de0261-f3d6-4166-b909-512d5b9bc645,
.OZTKy3TDoIfIqTb4Vbg6 a#recent_activities-toggle,
.OZTKy3TDoIfIqTb4Vbg6 button[aria-label="Toggle Power Dialer"],
.OZTKy3TDoIfIqTb4Vbg6 span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.OZTKy3TDoIfIqTb4Vbg6 ul.flex>li:nth-child(2) {
    display: none !important;
}

.OZTKy3TDoIfIqTb4Vbg6 #location_dashboard-btn-dashboard_switcher,
.OZTKy3TDoIfIqTb4Vbg6 #location-dashboard_btn--edit-dashboard {
  pointer-events: none !important;
}
/* E- Abdellatif Chammam */

/*#######################################################
  =============== SaaS Growth Plan Users ================
  #######################################################*/
/* B- Growth Test Account */
.\34 AVFLX75hXtsQtC7tiak #tb_business,
.\34 AVFLX75hXtsQtC7tiak #tb_contacts-restore,
.\34 AVFLX75hXtsQtC7tiak #tb_contact-custom-fields-settings,
.\34 AVFLX75hXtsQtC7tiak #tb_webinars,
.\34 AVFLX75hXtsQtC7tiak #tb_clientportal,
.\34 AVFLX75hXtsQtC7tiak a#recent_activities-toggle,
.\34 AVFLX75hXtsQtC7tiak button[aria-label="Toggle Power Dialer"],
.\34 AVFLX75hXtsQtC7tiak span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.\34 AVFLX75hXtsQtC7tiak button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.\34 AVFLX75hXtsQtC7tiak #sb_AI\ Agents,
.\34 AVFLX75hXtsQtC7tiak #sb_app-marketplace,
.\34 AVFLX75hXtsQtC7tiak #b4de0261-f3d6-4166-b909-512d5b9bc645,
.\34 AVFLX75hXtsQtC7tiak #sb_Opportunities-Pipelines,
.\34 AVFLX75hXtsQtC7tiak #sb_objects,
.\34 AVFLX75hXtsQtC7tiak #sb_whatsapp,
.\34 AVFLX75hXtsQtC7tiak #sb_custom-values,
.\34 AVFLX75hXtsQtC7tiak #sb_ai_agent_settings,
.\34 AVFLX75hXtsQtC7tiak #sb_custom-fields-settings,
.\34 AVFLX75hXtsQtC7tiak #sb_knowledge_base_settings,
.\34 AVFLX75hXtsQtC7tiak #sb_conversations_providers,
.\34 AVFLX75hXtsQtC7tiak #sb_labs,
.\34 AVFLX75hXtsQtC7tiak #sb_audit-logs-location,
.\34 AVFLX75hXtsQtC7tiak #sb_business-settings-v2 {
    display: none !important;
}

/* E- Growth Test Account */


/* B- Salah Ayed */
.WKVcfx2cGQKXPwv27naQ #tb_business,
.WKVcfx2cGQKXPwv27naQ #tb_contacts-restore,
.WKVcfx2cGQKXPwv27naQ #tb_contact-custom-fields-settings,
.WKVcfx2cGQKXPwv27naQ #tb_webinars,
.WKVcfx2cGQKXPwv27naQ #tb_clientportal,
.WKVcfx2cGQKXPwv27naQ a#recent_activities-toggle,
.WKVcfx2cGQKXPwv27naQ button[aria-label="Toggle Power Dialer"],
.WKVcfx2cGQKXPwv27naQ span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.WKVcfx2cGQKXPwv27naQ button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.WKVcfx2cGQKXPwv27naQ #sb_AI\ Agents,
.WKVcfx2cGQKXPwv27naQ #sb_app-marketplace,
.WKVcfx2cGQKXPwv27naQ #b4de0261-f3d6-4166-b909-512d5b9bc645,
.WKVcfx2cGQKXPwv27naQ #sb_Opportunities-Pipelines,
.WKVcfx2cGQKXPwv27naQ #sb_objects,
.WKVcfx2cGQKXPwv27naQ #sb_whatsapp,
.WKVcfx2cGQKXPwv27naQ #sb_custom-values,
.WKVcfx2cGQKXPwv27naQ #sb_ai_agent_settings,
.WKVcfx2cGQKXPwv27naQ #sb_custom-fields-settings,
.WKVcfx2cGQKXPwv27naQ #sb_knowledge_base_settings,
.WKVcfx2cGQKXPwv27naQ #sb_conversations_providers,
.WKVcfx2cGQKXPwv27naQ #sb_labs,
.WKVcfx2cGQKXPwv27naQ #sb_audit-logs-location,
.WKVcfx2cGQKXPwv27naQ #tb_ad-manager-home,
.WKVcfx2cGQKXPwv27naQ #sb_business-settings-v2 {
    display: none !important;
}

/* E- Salah Ayed  */

/* B- Ahmed Amine Belghaieb */
.kCQV7hPgFcmiF0thyL3e #tb_business,
.kCQV7hPgFcmiF0thyL3e #tb_contacts-restore,
.kCQV7hPgFcmiF0thyL3e #tb_contact-custom-fields-settings,
.kCQV7hPgFcmiF0thyL3e #tb_webinars,
.kCQV7hPgFcmiF0thyL3e #tb_clientportal,
.kCQV7hPgFcmiF0thyL3e a#recent_activities-toggle,
.kCQV7hPgFcmiF0thyL3e button[aria-label="Toggle Power Dialer"],
.kCQV7hPgFcmiF0thyL3e span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.kCQV7hPgFcmiF0thyL3e button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.kCQV7hPgFcmiF0thyL3e #sb_AI\ Agents,
.kCQV7hPgFcmiF0thyL3e #sb_app-marketplace,
.kCQV7hPgFcmiF0thyL3e #b4de0261-f3d6-4166-b909-512d5b9bc645,
.kCQV7hPgFcmiF0thyL3e #sb_Opportunities-Pipelines,
.kCQV7hPgFcmiF0thyL3e #sb_objects,
.kCQV7hPgFcmiF0thyL3e #sb_whatsapp,
.kCQV7hPgFcmiF0thyL3e #sb_custom-values,
.kCQV7hPgFcmiF0thyL3e #sb_ai_agent_settings,
.kCQV7hPgFcmiF0thyL3e #sb_custom-fields-settings,
.kCQV7hPgFcmiF0thyL3e #sb_knowledge_base_settings,
.kCQV7hPgFcmiF0thyL3e #sb_conversations_providers,
.kCQV7hPgFcmiF0thyL3e #sb_labs,
.kCQV7hPgFcmiF0thyL3e #sb_audit-logs-location,
.kCQV7hPgFcmiF0thyL3e #tb_ad-manager-home,
.kCQV7hPgFcmiF0thyL3e #sb_business-settings-v2 {
    display: none !important;
}

/* E- Ahmed Amine Belghaieb */


/* B- Houssem Eddine Mustapha BenAbdelmalek */
.kq22srzFyrBnZvee6R7b #tb_business,
.kq22srzFyrBnZvee6R7b #tb_contacts-restore,
.kq22srzFyrBnZvee6R7b #tb_contact-custom-fields-settings,
.kq22srzFyrBnZvee6R7b #tb_webinars,
.kq22srzFyrBnZvee6R7b #tb_clientportal,
.kq22srzFyrBnZvee6R7b a#recent_activities-toggle,
.kq22srzFyrBnZvee6R7b button[aria-label="Toggle Power Dialer"],
.kq22srzFyrBnZvee6R7b span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.kq22srzFyrBnZvee6R7b button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.kq22srzFyrBnZvee6R7b #sb_AI\ Agents,
.kq22srzFyrBnZvee6R7b #sb_app-marketplace,
.kq22srzFyrBnZvee6R7b #b4de0261-f3d6-4166-b909-512d5b9bc645,
.kq22srzFyrBnZvee6R7b #sb_Opportunities-Pipelines,
.kq22srzFyrBnZvee6R7b #sb_objects,
.kq22srzFyrBnZvee6R7b #sb_whatsapp,
.kq22srzFyrBnZvee6R7b #sb_custom-values,
.kq22srzFyrBnZvee6R7b #sb_ai_agent_settings,
.kq22srzFyrBnZvee6R7b #sb_custom-fields-settings,
.kq22srzFyrBnZvee6R7b #sb_knowledge_base_settings,
.kq22srzFyrBnZvee6R7b #sb_conversations_providers,
.kq22srzFyrBnZvee6R7b #sb_labs,
.kq22srzFyrBnZvee6R7b #sb_audit-logs-location,
.kq22srzFyrBnZvee6R7b #tb_ad-manager-home,
.kq22srzFyrBnZvee6R7b #sb_business-settings-v2 {
    display: none !important;
}

/* E- Houssem Eddine Mustapha BenAbdelmalek */

/* B- Firas Ben Romdhane */
.\31 GaeXa5mgkP9Bwev3TuY #tb_business,
.\31 GaeXa5mgkP9Bwev3TuY #tb_contacts-restore,
.\31 GaeXa5mgkP9Bwev3TuY #tb_contact-custom-fields-settings,
.\31 GaeXa5mgkP9Bwev3TuY #tb_webinars,
.\31 GaeXa5mgkP9Bwev3TuY #tb_clientportal,
.\31 GaeXa5mgkP9Bwev3TuY a#recent_activities-toggle,
.\31 GaeXa5mgkP9Bwev3TuY button[aria-label="Toggle Power Dialer"],
.\31 GaeXa5mgkP9Bwev3TuY span.divider.topmenu-navitem.mx-1.pb-2.md\:pb-3,
.\31 GaeXa5mgkP9Bwev3TuY button#upgrade-button.n-button.n-button--tertiary-type.n-button--large-type,
.\31 GaeXa5mgkP9Bwev3TuY #sb_AI\ Agents,
.\31 GaeXa5mgkP9Bwev3TuY #sb_app-marketplace,
.\31 GaeXa5mgkP9Bwev3TuY #b4de0261-f3d6-4166-b909-512d5b9bc645,
.\31 GaeXa5mgkP9Bwev3TuY #sb_Opportunities-Pipelines,
.\31 GaeXa5mgkP9Bwev3TuY #sb_objects,
.\31 GaeXa5mgkP9Bwev3TuY #sb_whatsapp,
.\31 GaeXa5mgkP9Bwev3TuY #sb_custom-values,
.\31 GaeXa5mgkP9Bwev3TuY #sb_ai_agent_settings,
.\31 GaeXa5mgkP9Bwev3TuY #sb_custom-fields-settings,
.\31 GaeXa5mgkP9Bwev3TuY #sb_knowledge_base_settings,
.\31 GaeXa5mgkP9Bwev3TuY #sb_conversations_providers,
.\31 GaeXa5mgkP9Bwev3TuY #sb_labs,
.\31 GaeXa5mgkP9Bwev3TuY #sb_audit-logs-location,
.\31 GaeXa5mgkP9Bwev3TuY #tb_ad-manager-home,
.\31 GaeXa5mgkP9Bwev3TuY #sb_business-settings-v2 {
    display: none !important;
}

/* E- Firas Ben Romdhane */

/*#######################################################
  =============== SaaS Business Plans Clients ============
  #######################################################*/
/* B- Business Plans Clients */
/* E- Business Plans Clients */